<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home -Milenio Oscuro</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/shop-homepage.css" rel="stylesheet">

</head>

<body>

<%- include('../partials/headerPrueba') %> 

 

        <img class= "onlyMobile" src="https://i.pinimg.com/originals/e9/9f/3a/e99f3a82d2370506419d45061350132d.jpg" style="width:100%">



        <div  class="container"  <% if(products.length == 0 ){ %> style="margin-bottom: 22rem;"  <%  } %>>

          <div class="row">
      
            <h2 class="p-4">Lo relacionado con tu busqueda : "<%= palabraBuscada %>" </h2>
      
              
                          
      
            <div class="col-lg-9">

             <!--  <div style="font-size: 32px;" class="d-flex justify-content-center mb-5">¡Lo mas recomendado!</div> -->

        

      
        <div class="row marg_bot_10 onlyMobilePadT">

          <% products.forEach(product => { %>
          
          <div class="col-lg-3 col-md-6 mb-4 ">
            <div class="card h-100" style="height: 84%!important;">
              <div style="height: 78%;">
              <a href="/products/detail/<%= product.id %>"><img  class="card-img-top prodImg" style="height: 100%;" src="/images/<%= product.image %>" alt=""></a>
            </div>
              <div  class="card-body" style="padding: 8px;border-top: 1.1px solid #eee;">
                <h4 class="card-title">
                  <a style="font-size: 17px;color: black;" href="/products/detail/<%= product.id %>"><%= product.name %></a>
                </h4>
                <% if (product.offer == "on")  { %> 
                <h5 style="float: left;font-size: 24px;">$<%= toThousand(product.newprice) %></h5>
                <div class="d-flex justify-content-end">
                <span class="badge badge-success">¡Oferta!</span>
              </div>
                <% } else { %>
                  <h5 style="font-size: 24px;">$<%= toThousand(product.price) %></h5>
                  <% }%>
              </div>
             
            </div>
          </div>

          <% }) %>

        </div>
        
        <!-- /.row -->

      </div>
   
      <!-- /.col-lg-9 -->

    </div>


    


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%- include('../partials/footerPrueba') %>

  <!-- Bootstrap core JavaScript -->
 
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  
  
</body>

</html>
